*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #ffffff;
    --black: #000000;
    --grey-text: #787a7f;
    --bg-play: #282828;
    --bg-action: #080b12;
    --bg-content: #141922;
    --hovergreen: #adff2f:
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* utility */
img{
    width: 100%;
    display: block;
}
.wrap{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: var(--white);
}
.d-flex{
    display: flex;
}
a{
    text-decoration: none;
    color: var(--white);
}
.flex-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.flex-center{
    justify-content: center;
}
.flex-between{
    justify-content: space-between;
}
li{
    list-style: none;
}
.up-text{
    text-transform: uppercase;
}
.btn{
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid var(--white);
    font-size: 0.7rem;
}
.text-small{
    font-size: 0.7rem;
    color: var(--grey-text);
    font-weight: 600;
}
.title-medium{
    font-size: 0.9rem;
    color: var(--white);
}
.text-medium{
    font-size: 0.8rem;
    color: var(--white);
    font-weight: 600;
}
/* main */
main{
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
}
.nav-main{
    width: 220px;
    background-color: var(--black);
    min-height: 480px;
}
.section-main{
    width: calc(100% - 220px);
    background-color: var(--bg-content);
    height: 100%;
    overflow-y: auto;
}
.call-to-action{
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(8, 11, 18, 0.5);
    width: calc(100% - 220px);
    height: 80px;
}
.content-main{
    margin-top: 80px;
}
.content-main li{
    padding: 15px;
}
.content-main h4{
    padding: 12px 0px;
}
.layover{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 3rem;
    color: var(--white);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}
.layover i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cover-img{
    position: relative;
}
.card:hover .layover{
    opacity: 1;
}
.container{
    padding: 15px;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}
.card{
    width: calc(100% / 6);
    padding: 10px;
    text-align: center;
    position: relative;
}
.box-image{
    border-radius: 50%;
    overflow: hidden;
}
.container h2:first-child{
    padding-top: 15px;
}
.container h2{
    padding-top: 25px;
}
.p-container{
    padding-top: 15px;
    font-size: 0.7rem;
    color: var(--grey-text);
}
.content-nav{
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-flow: column;
}
.bottom-nav{
    width: 100%;
    height: 80px;
    padding: 10px 0px;
    background-color: var(--black);
} 
.logo img{
    width: 68%;
    padding: 15px;
}
.nav-img{
    display: none;
}
.content-nav a img{
    width: 28px;
}
.nav-main a, .content-nav h3{
    border-left: 3px solid transparent;
    padding-left: 15px;
}
.top-list a:hover{
    border-left: 3px solid var(--white);
}
.playlist{
    height: 60%;
    overflow-y: auto;
}
.playlist h3{
    padding-top: 26px;
    color: var(--white);
}
.content-nav li{
    padding-top: 8px;
    color: var(--white);
}
.playlist li{
    padding-top: 15px;
}
.top-img img{
    width: 12px;
}
.top-img::after{
    content: '';
    display: block;
    width: 80%;
    margin: 12px auto;
    height: 1px;
    background-color: var(--grey-text);
}
.bottom-img img{
    width: 25px;
    height: 25px;
}
.box-nav{
    background-color: var(--grey-text);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.bottom-nav span, .bottom-nav h4{
    padding-left: 8px;
}
.content-nav a img{
    padding-right: 5px;
}
.play{
    height: 80px;
    width: 100%;
    background-color: var(--bg-play);
}
.play-album, .play-audio{
    width: 220px;
    height: 100%;
    padding: 10px;
}
.playbar{
    width: 40%;
    height: 100%;
    padding: 10px;
}
.play-album img{
    width: 40px;
}
.play-album h4{
    color: var(--white);
}
.play-album p{
    color: var(--grey-text);
    font-size: 0.6rem;
    font-weight: 600;
}
.play-album p, .play-album h4, .play-album i:last-child{
    padding-left: 10px;
}
.icon i{
    padding: 0px 10px;
}
.play-circle{
    height: 40px;
    width: 68px;
}
.play-circle i{
    font-size: 1.9rem;
}
.play-circle i:hover{
    font-size: 2.2rem;
}
input[type="range"] {
    -webkit-appearance: none;
    width: 86%;
    height: 3px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 20% 100%;
    background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0;
  }
/* responsive */
@media screen and (max-width: 1200px) {
    .card{
        width: calc(100% / 4);
    }
    ul, .row{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 992px) {
    .card{
        width: calc(100% / 3);
    }
}
@media screen and (max-width: 768px) {
    .card{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 576px) {
    .nav-main{
        width: 60px;
    }
    .section-main{
        width: calc(100% - 60px);
    }
    .card{
        width: 100%;
    }
    .call-to-action{
        width: calc(100% - 60px);
    }
}