*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #ffffff;
    --black: #000000;
    --grey-text: #787a7f;
    --bg-play: #282828;
    --bg-action: #080b12;
    --bg-content: #141922;
    --hover-green: #adff2f:
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* utility */
img{
    width: 100%;
}
.wrap{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: var(--white);
}
.d-flex{
    display: flex;
}
a{
    text-decoration: none;
    color: var(--white);
}
.flex-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.flex-center{
    justify-content: center;
}
li{
    list-style: none;
}
.up-text{
    text-transform: uppercase;
}
.btn{
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid var(--white);
    font-size: 0.7rem;
}
.text-small{
    font-size: 0.7rem;
    color: var(--grey-text);
    font-weight: 600;
}
.title-medium{
    font-size: 0.9rem;
    color: var(--white);
}
/* main */
main{
    width: 100%;
    height: calc(100% - 80px);
}
.nav-main{
    width: 220px;
    background-color: var(--black);
}
.section-main{
    width: calc(100% - 220px);
    background-color: var(--bg-content);
    height: 100%;
    overflow-y: auto;
}
.play{
    height: 80px;
    width: 100%;
    background-color: var(--bg-play);
}
.call-to-action{
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--bg-action);
    width: calc(100% - 220px);
    height: 80px;
}
.content-main{
    margin-top: 80px;
}
.content-main li{
    padding: 15px;
}
.container{
    padding: 15px;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}
.card{
    width: calc(100% / 6);
    padding: 10px;
    text-align: center;
}
.box-image{
    border-radius: 50%;
    overflow: hidden;
    /* width: 88%;
    height: 88%; */
}
.container h2:first-child{
    padding-top: 15px;
}
.container h2{
    padding-top: 25px;
}
.p-container{
    padding-top: 15px;
    font-size: 0.7rem;
    color: var(--grey-text);
} 
.nav-main img{
    width: 60%;
}
.nav-img{
    display: none;
}
.content-nav a img{
    width: 28px;
}
/* responsive */
@media screen and (max-width: 1200px) {
    .card{
        width: calc(100% / 4);
    }
    ul, .row{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 992px) {
    .card{
        width: calc(100% / 3);
    }
}
@media screen and (max-width: 768px) {
    .card{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 576px) {
    .nav-main{
        width: 60px;
    }
    .section-main{
        width: calc(100% - 60px);
    }
    .card{
        width: 100%;
    }
    .call-to-action{
        width: calc(100% - 60px);
    }
}