*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #ffffff;
    --black: #000000;
    --grey-text: #787a7f;
    --bg-play: #282828;
    --bg-action: #080b12;
    --bg-content: #141922;
    --hover-green: #adff2f:
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* utility */
img{
    width: 100%;
}
.wrap{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: var(--white);
}
.d-flex{
    display: flex;
}
a{
    text-decoration: none;
    color: var(--white);
}
.flex-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.flex-center{
    justify-content: center;
}
li{
    list-style: none;
}
.up-text{
    text-transform: uppercase;
}
.text-color{
    color: var(--grey-text);
}
/* main */
main{
    width: 100%;
    height: calc(100% - 80px);
}
.nav-main{
    width: 220px;
    background-color: var(--black);
}
.section-main{
    width: calc(100% - 220px);
    background-color: var(--bg-content);
    height: 100%;
    overflow-y: auto;
}
.play{
    height: 80px;
    width: 100%;
    background-color: var(--bg-play);
}
.call-to-action{
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--bg-action);
    width: calc(100% - 220px);
    height: 80px;
}
.content-main{
    margin-top: 80px;
}
.content-main li{
    padding: 15px;
    font-size: 0.7rem;
    font-weight: 600;
}
.container{
    padding: 15px;
}
.card{
    width: calc(100% / 6);
    padding: 15px;
    text-align: center;
}
